$primary-color: #202020;;
$secondary-color: rgb(81, 199, 107);
$show-home-image: true;
$home-image: url(../img/background.jpg);
$portrait-image: url(../img/portrait.png);
$background-opacity: 0.4;

@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background-image: url("../img/background.jpg");
           background-attachment: fixed;
           background-size: cover; 

           &:after {
            counter-reset: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: rgba($primary-color, $background-opacity);
            z-index: -1;
            }
        } 
        
    }
   
        
    

}
* {
    box-sizing: border-box;
}


// media query mixins

@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}
@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px){
        @content;
    }
}
@mixin mediaXL {
    @media screen and (min-width: 1171px) {
        @content;
    }
}